* {
    color: red;
    padding: 0px;
    margin: 0%;
    border: 0px;
    margin-bottom: 4vh;
    background-image: url(https://static.wikia.nocookie.net/minecraft-win10-edition/images/a/aa/Lava.gif/revision/latest?cb=20150829200822);
}

header {
    border-style: solid;
    border-width: 2px;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
}

article {
    border-style: solid;
    border-width: 2px;
    border-color: red;
    background-color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 90%;
    height: 50vh;
    margin: auto;
    margin-top: 2vh;
    font-size: large;
    color:rgb(100, 0, 0) ;
}

footer {
    border-style: solid;
    border-width: 2px;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90%;
    height: 20vh;
    margin: auto;
    margin-top: 2vh;
}
